body {
  background-color: rgba(9, 255, 247, 0.565);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 66rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: antiquewhite;
  align-items: center;
}

.completed {
  background-color: #00ff2a;
}

.input-wrap {
  margin: 0 auto;
}

.input-issue {
  width: 20rem;
  padding-left: 1rem;
  line-height: 2rem;
  border: none;
}

.input-issue:focus {
  box-shadow: 0px 0px 8px 5px rgba(138, 159, 176, 0.89);
}

.input-item {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.button {
  transition-duration: 600ms;
  border-radius: .5rem;
  padding: 0 .3rem;
}

.button:hover {
  cursor: pointer;
  transition-duration: 600ms;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

ul {
  list-style: none;
}

.list-issue {
  display: flex;
  margin: .6rem 0;
}

.list-issue-text {
  border-radius: 0.5rem;
  background-color: rgba(255, 238, 0, 0.856);
  padding: 0 1rem;
  width: 20rem;
  transition-duration: 600ms;
  max-height: 1.5rem;
  overflow: auto;
}

.list-issue-text:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px 5px rgba(138, 159, 176, 0.89);
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}

.list-issue-delete-button {
  margin-left: 0.7rem;
}

.list-todo {
  width: 20rem;
}

.not-done {
  background-color: rgba(255, 247, 0, 0.952);
}

.done {
  background-color: aquamarine;
}
